* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
html{
  scroll-behavior: smooth;
}
body {
 font-family: 'Montserrat', sans-serif;
background-color:#222;
}
.sectionTitle{
  color:white;
  font-size: 3rem;
  text-align: center;
  margin: 3rem 2rem;
}